# Do not include azure-functions-worker; the platform manages it.
azure-functions>=1.21,<2
azure-identity>=1.19,<2
pyodbc>=5.2,<6

# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry
